body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.invalid {
  border-color: red;
}
form {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: relative;
}
pre {
  position: relative;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
div {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
  position: relative;
}

label {
  width: 110px;
}

input,
select,
textarea {
  flex: 1;
  padding: 3px 5px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
button {
  border-radius: 5px;
  padding: 5px 15px;
}
button[type="submit"] {
  color: #ffffff;

  background-color: #4f93ce;
  border: 1px solid #285f8f;
}

button[type="button"] {
  color: #666666;

  background-color: #e7e7e7;
  border: 1px solid #d5d5d5;
}
button:disabled {
  opacity: 0.5;
}

#employed {
  height: 15px;
  margin-top: 10px;
}

.sauces-list {
  flex-flow: column nowrap;
  margin: 0;
}
.sauces-list div{
  margin: 0;
}
.stooges-list {
  flex-flow: column nowrap;
  margin: 0;
}
.stooges-list div{
  margin: 0;
}
